<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../js/jquery-3.6.4.min.js"></script>
		<script src="../js/libs/vue/vue-2.7.10.js"></script>
		<script src="../js/libs/swiper/swiper.min.js"></script>
		<link rel="stylesheet" href="../js/libs/swiper/swiper.min.css">
		<link rel="stylesheet" href="../css/zhaosiyang/index.css">
	</head>
	<body>
		<div id="app">
			<!-- Slider main container -->
			<div class="swiper">
			  <!-- Additional required wrapper -->
			  <div class="swiper-wrapper">
			    <!-- Slides -->
			    <div class='swiper-slide' v-for="yearMonth in imgList">
			    	{{ yearMonth.yearMonth }}
			    	<div v-for="img in yearMonth.imgs">
			    		{{ img.imgTitle }}
			    		<img :src="'../img/zhaosiyang/' + yearMonth.yearMonth + '/' +  img.imgName" alt="" style="width: 200px;height: 200px;object-fit: contain;">
			    	</div>
			    </div>
			  </div>
			  <!-- If we need pagination -->
			  <div class="swiper-pagination"></div>
			
			  <!-- If we need navigation buttons -->
			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>
			
			  <!-- If we need scrollbar -->
			  <div class="swiper-scrollbar"></div>
			</div>
			<!-- <div class="swiper" id="imgSwiper">
				<div class="swiper-wrapper">
					<div class='swiper-slide' v-for="yearMonth in imgList">
						{{ yearMonth.yearMonth }}
						<div v-for="img in yearMonth.imgs">
							{{ img.imgTitle }}
							<img :src="'../img/zhaosiyang/' + yearMonth.yearMonth + '/' +  img.imgName" alt="" style="width: 200px;height: 200px;object-fit: contain;">
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div> -->
		</div>
	</body>
	<script>
		// var imgSwiper = new Swiper('#imgSwiper', {
		//         slidesPerView: 1,
		//         pagination: {
		//             el: ".swiper-pagination",
		//             clickable: true,
		//             renderBullet: function (index, className) {
		//                 return '<span class="' + className + '"></span>';
		//             },
		//         },
		//     })
			
			const swiper = new Swiper('.swiper', {
			  // Optional parameters
			  // direction: 'vertical',
			  loop: true,
			
			  // If we need pagination
			  pagination: {
			    el: '.swiper-pagination',
			  },
			
			  // Navigation arrows
			  navigation: {
			    nextEl: '.swiper-button-next',
			    prevEl: '.swiper-button-prev',
			  },
			
			  // And if we need scrollbar
			  scrollbar: {
			    el: '.swiper-scrollbar',
			  },
			});
			
		var vm = new Vue({
			el: '#app',
			data: function () {
				return {
					baseImgUrl: '',
					imgList: []
				}
			},
			mounted() {
				this.baseImgUrl = window.location.href.replace(/[^/]*$/, '').split('pages')[0] + 'img/zhaosiyang/';
				this.initImgs()
				// imgSwiper.update()
				// imgSwiper.updateSlides();
			},
			methods: {
				initImgs() {
					let _this = this;
					$.ajax({
						url: '../js/zhaosiyang/img.json',
						type: 'get',
						async: false,
						dataType: 'json',
						headers: {
							'Content-Type': 'text/plain'
						},
						success(res) {
							_this.imgList = res
							// _this.initSwiper()
							
							
						}
					})
				},
				// initSwiper() {
				// 	let _this = this;
				// 	let html = ''
				// 	for (let i = 0; i < _this.imgList.length; i++) {
				// 		html += `<div class='swiper-slide'>`
				// 		for (let j = 0; j < _this.imgList[i].imgs.length; j++) {
				// 			html += `<img src="'../img/zhaosiyang/` + _this.imgList[i].yearMonth + `/` +  _this.imgList[i].imgs[j].imgName + `" alt="" style="width: 200px;height: 200px;object-fit: contain;"> `
				// 		}
				// 		html += `</div>`
				// 	}
				// 	$('#imgSwiper .swiper-wrapper').html(html)
				// 	imgSwiper.update()
				// 	imgSwiper.updateSlides();
				// }
			},
		});
	</script>
</html>